{% extends "base.html" %}

{% block content %}

<h2>Workers</h2>

<p><a class="btn" href="{% url 'crud_worker' %}">Add Worker</a></p>

{% for worker in workers %}
	<p>{{ worker.name }} - {{ worker.category }} 
		<a href="{% url 'edit_worker' worker.id %}"><button>Edit</button></a>
		<a href="{% url 'delete_worker' worker.id %}" onclick="return confirm('Are you sure you want to delete this worker?');"><button>Delete</button></a>
	</p>

{% empty %}
	<p>No workers yet.</p>
{% endfor %}

{% endblock %}
